# Certificate paths may vary on different types of machines.
ARE_SIMULATION_SSL_CERT_PATH=
ARE_SIMULATION_SSL_KEY_PATH=

# ARE_SIMULATION UI server.
ARE_SIMULATION_SERVER_HOSTNAME=${HOSTNAME}
ARE_SIMULATION_SERVER_PORT=8080

# ARE_SIMULATION UI client.
ARE_SIMULATION_CLIENT_HOSTNAME=${HOSTNAME}
ARE_SIMULATION_CLIENT_PORT=8088
ARE_SIMULATION_CLIENT_BACKEND_URL=https://${ARE_SIMULATION_SERVER_HOSTNAME}:${ARE_SIMULATION_SERVER_PORT}

# Scenario discovery
# Format: "dir1,dir2,dir3,..."
# Example: "/path/to/custom/scenarios,/another/path"
ARE_SCENARIO_DIRECTORIES=""

# Models.
ALL_MODELS=""

DEMO_FS_PATH="hf://datasets/meta-agents-research-environments/gaia2_filesystem/demo_filesystem"
